name: Lint Check

on: 
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  lint:
    name: Lint markdown file
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Lint markdown files
        run: |
          python scripts/linter.py
      - name: Pylint for python files
        run: |
          pip install pylint
          pylint **/*.py
